<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/main.js"></script>
</head>
<!-- USER_ARR, postCounts 이미 알고 있음-->
<body>
  <a href="/">홈</a>
  <h1>Hello, EJS world!</h1>
  <h1>글목록</h1>
  <h2>
    총 글 수 <%= postCounts %>
  </h2>
  <ul>
    <% if(postCounts > 0) { %>
      <% for(let i = 0; i < postCounts; i++) { %>
        <li>
          <p>
            TITLE : <%= POST[i].title %>
          </p>
          <p>
            CONTENT : <%= POST[i].content %>
          </p>
          <!-- a태그 클릭시 화면 상단으로 이동x -->
          <a href="javascript:void(0)" onclick="deletePost('<%= POST[i].title %>')">삭제</a>
        </li>
      <% } %>  
    <% } else { %>
      <li>글이 없습니다</li>
    <% } %>    
  </ul>
  <form action="/posts/add" method = "POST">
    <div>
      <label>제목</label>
      <input type="text" name = "title"/>
    </div>
    <div>
      <label>내용</label>
      <input type="text" name = "content"/>
    </div>
    <button type="submit">제출</button>
  </form>
  <img src="/images/cat.jpg" alt="캣">
  <!-- 글삭제 -->
  <script>
    async function deletePost(title){
      const response = await fetch(`http://localhost:4000/posts/delete/${title}`, {
        method: 'DELETE',
        headers: {
          'Content-type': 'application/json',
        }
      })
      if(response.status === 200) return location.reload();
      
      console.log(response);
    }
  </script>
</body>
</html>